.abs{
    position: absolute;
}

.player{
    background-color: #fff5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: var(--player-width);
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
}

.player_ava{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.player_nc_wrapper{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player_name{
    background-color: #0000;
    font-size: 14px;
}

.player_cash{
    background-color: #0000;
    font-size: 24px;
}

.player_time{
    background-color: #ff0;
    padding: 5px;
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 100%;
    --progress: 30;
    background: conic-gradient(#0000 calc(var(--progress) * 1%), rgb(calc(var(--progress) * 2.55), calc((100 - var(--progress)) * 2.55), 0) calc(var(--progress) * 1%))
}

.tp1{
    top: 25%;
    left: -8%;
}

.abs{
    position: absolute;
}

.tp2{
    top: 0%;
    left: calc((100% - var(--player-width)) / 4);
}

.tp3{
    top: 0%;
    left: calc((100% - var(--player-width)) / 1.3);
}

.tp4{
    top: 25%;
    left:  calc((100% - var(--player-width)) / 1);
}

.tp5{
    top: 58%;
    left: calc((100% - var(--player-width)) / 1);
}

.tp6{
    top: calc((100% - 40px) / 1);
    left: calc((100% - var(--player-width)) / 1.1);
}

.tp8{
    top: calc((100% - 40px) / 1);
    left: calc((100% - var(--player-width)) / 17);
}

.tp7{
    top: 58%;
    left: -8%;
}