.develop-block {  
  position: absolute;
  bottom: calc(var(--base) * 30);
  right: calc(var(--base) * 30);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.develop-block__wrapper {
  padding: calc(var(--base) * 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.develop-block__btn {
  display: block;
  position: relative;
  width: calc(var(--base) * 100);
  height: calc(var(--base) * 100);
  font-size: calc(var(--base) * 20);
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;

  border-top: 1px solid #265bec;
  background-color: #265bec;
  background: linear-gradient(to bottom, #265bec 0%, #110268 100%);
  border-bottom: 1px solid #110268;
}

.develop-block__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;  
  outline: calc(var(--base) * 3) dashed rgba(255,255,255,0.8);
  outline-offset: calc(var(--base) * 15);
}

.develop-block__btn:hover::after {
  opacity: 1;
  animation: rotating 10s linear infinite;
  transition: all 0.5s ease;
}


.develop-block__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: 0.5s;
  transform-origin: right center;
  transform: scaleX(0) translateX(20%);
  opacity: 0;
}

.develop-block__links--active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
}

.develop-block__link {
  width: calc(var(--base) * 50);
  height: calc(var(--base) * 50);
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-right: calc(var(--base) * 25);
  background-image: url('../../assets/github.svg');
  background-size: calc(var(--base) * 50) calc(var(--base) * 50);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.develop-block__link:focus,
.develop-block__link:hover {
  background-image: url('../../assets/github-hover.svg');
  transform: scale(1.1);
}

.develop-block__link::before {  
  position: absolute;
  top: calc(var(--base) * -30);
  width: calc(var(--base) * 130);
  font-size: calc(var(--base) * 18);
  line-height: calc(var(--base) * 22);
  font-weight: bold;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.develop-block__link--InikonZS::before {
  content: 'InikonZS';
  left: calc(var(--base) * -37);
}

.develop-block__link--sleepyComrade::before {
  content: 'sleepyComrade';
  left: calc(var(--base) * -37);
}

.develop-block__link--ramitsan::before {
  content: 'Ramitsan';
  left: calc(var(--base) * -40);
}

.develop-block__link--max-romanov::before {
  content: 'max-romanov';
  left: calc(var(--base) * -46);
}

.develop-block__link--InikonZS:hover::before,
.develop-block__link--sleepyComrade:hover::before,
.develop-block__link--ramitsan:hover::before,
.develop-block__link--max-romanov:hover::before {
  opacity: 1;
}
