.lobby {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../assets/lobby-img-bg.png'), url('../assets/background.png');
  background-size: calc(var(--base) * 350) auto,  auto;
  background-position: center calc(var(--base) * 50), top left;
  background-repeat: no-repeat, repeat;
}

.lobby__wrapper {
  width: calc(var(--base) * 950);
  height: 100%;
  margin: 0 auto;
  height: calc(100vh - calc(var(--base) * 85));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__button {
  width: calc(var(--base) * 150);
  height: calc(var(--base) * 45);
  margin: calc(var(--base) * 20);
  padding: calc(var(--base) * 10) calc(var(--base) * 5);
  font-size: calc(var(--base) * 20);
  color: #fff;
  border-radius: calc(var(--base) * 5);
  transition: all 0.3s ease;
  border-radius: calc(var(--base) * 7);
}

.lobby__button--log-out {
  padding-left: calc(var(--base) * 40);
  background-color: #265bec;
  background: url('../assets//arrow-left.svg'), linear-gradient(to bottom, #265bec 0%, #110268 100%);
  background-repeat: no-repeat;
  background-size: calc(var(--base) * 30) auto, 100%;
  background-position: center left calc(var(--base) * 15), top left;
  border-bottom: 1px solid #110268;
}

.lobby__button--log-out:focus,
.lobby__button--log-out:hover {
  transform: scale(1.1);
}

.lobby__center-container {
  width: 100%;
  position: relative;
  /* top: -5%; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lobby__start-game {
  display: none;
  width: 70%;
  padding: calc(var(--base) * 10) calc(var(--base) * 15);
  background-color: #fff5;
  border-radius: calc(var(--base) * 5);
  margin-bottom: calc(var(--base) * 20);
}

.lobby__label--user-name {
  display: inline-block;
  margin-bottom: calc(var(--base) * 10);
  font-size: calc(var(--base) * 22);
  font-weight: bold;
}

.lobby__input {
  width: calc(var(--base) * 200);
  outline: none;
  padding: calc(var(--base) * 8);
  border-radius: calc(var(--base) * 3);
  background-color: #1b1d1b;
  border: 1px solid #737070;
  box-shadow: 0px 0px calc(var(--base) * 7) #737070;
  font-size: calc(var(--base) * 20);
  transition: all 0.3s ease;
}

.lobby__input--user-name {
  width: calc(var(--base) * 200);
  padding: calc(var(--base) * 10);
  outline: none;
  border: 1px solid #b32d04;
  margin-right: calc(var(--base) * 20);
  border-radius: calc(var(--base) * 5);
}

.lobby__button--local {
  position: relative;
  width: calc(var(--base) * 100);
  height: calc(var(--base) * 100);
  border-radius: 50%;
  background-color: #e75f04;
  background: linear-gradient(to bottom, #e75f04 0%, #b32d04 100%);
  border-bottom: 1px solid #b32d04;
  transition: all 0.5s ease;
}

.lobby__button--local::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;  
  outline: calc(var(--base) * 3) dashed rgba(255,255,255,0.8);
  outline-offset: calc(var(--base) * 15);
}

.lobby__button--local:hover::after {
  opacity: 1;
  animation: rotating 10s linear infinite;
  transition: all 0.5s ease;
}

.lobby__button--start {
  background-color: #f00c0c;
  background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
  border-bottom: 1px solid #680202;
}

.lobby__rooms {
  width: 70%;
  padding: calc(var(--base) * 10) calc(var(--base) * 15);
  margin-bottom: calc(var(--base) * 20);
}

.lobby__select-rooms {
  padding: 0px calc(var(--base) * 10);
  border: 1px solid #0dce07;;
  border-radius: calc(var(--base) * 7);
}

.lobby__rooms-title {
  font-size: calc(var(--base) * 22);
}

.lobby__rooms-title--rooms {
  padding: 0 calc(var(--base) * 10);
  color: #0dce07;
}

.lobby__title {
  font-size: calc(var(--base) * 22);
  font-weight: bold;
}

.lobby__rooms-list {
  padding: calc(var(--base) * 10) calc(var(--base) * 15);
  border-radius: calc(var(--base) * 5);
  max-height: calc(var(--base) * 500);
  overflow-y: auto;
}

/* Работает в Chrome, Opera и Safari */
.lobby__rooms-list::-webkit-scrollbar {
  width: calc(var(--base) * 8);
}

.lobby__rooms-list::-webkit-scrollbar-track {
  background: #737070;
  border-radius: calc(var(--base) * 10);
}

.lobby__rooms-list::-webkit-scrollbar-thumb {
  width: calc(var(--base) * 6);
  height: 20%;
  background: #0dce07;
  border: 1px solid #737070;
  border-radius: calc(var(--base) * 5);
  cursor: pointer;
}

/* Работает в Firefox */
.lobby__rooms-list {
  scrollbar-width: thin;
  scrollbar-color: #0dce07  #737070;
}

.lobby__rooms-item {
  font-size: calc(var(--base) * 22);
  line-height: calc(var(--base) * 30);
  color: #fff;
  cursor: pointer;
}

.lobby__rooms-item span {
  color: #0dce07;
}

.lobby__chat {
  width: 70%;
  padding: calc(var(--base) * 10) calc(var(--base) * 15);
  background-color: #fff5;
  border-radius: calc(var(--base) * 5);
}

.lobby__input--chat-message {
  width: calc(var(--base) * 200);
  padding: calc(var(--base) * 10);
  outline: none;
  border: 1px solid #265bec;
  margin-right: calc(var(--base) * 20);
  border-radius: calc(var(--base) * 5);
}

.lobby__button--chat-send {
  background-color: #265bec;
  background: linear-gradient(to bottom, #265bec 0%, #110268 100%);
  border-bottom: 1px solid #110268;
}

.user-info {
  position: absolute;
  top: calc(var(--base) * 96);
  left: calc(var(--base) * 20);
  width: calc(var(--base) * 370);
  padding: calc(var(--base) * 15);
  font-size: calc(var(--base) * 20);
  line-height: 150%;
  color: #fff;
  border: calc(var(--base) * 2) solid #f00;
  border-radius: calc(var(--base) * 7);
  box-shadow: 0px 0px calc(var(--base) * 10) #f00;
  animation: user 1s;
  z-index: 1000;
}

@keyframes user {
  0% {
      transform: translateX(calc(var(--base) * -2000));
  }

  70% {
      transform: translateX(calc(var(--base) * 20));
  }

  90% {
      transform: translateX(calc(var(--base) * -10));
  }

  100% {
      transform: translateX(0);
  }
}

.user-info__wrapper {
  width: 100%;
  display: flex;
}

.user-info__picture {
  position: relative;
  width: calc(var(--base) * 100);
  height: calc(var(--base) * 100);
  margin-right: calc(var(--base) * 20);
  border: calc(var(--base) * 3) solid #f00;
  border-radius: 50%;
  background-image: url('../assets/user-avatar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}

.user-info__picture::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.user-info__picture::after {
  content: 'change avatar';
  position: absolute;
  top: calc(var(--base) * 28);
  left: calc(var(--base) * 10);
  width: 80%;
  height: 100%;
  font-size: calc(var(--base) * 18);
  line-height: calc(var(--base) * 22);
  font-weight: bold;
  text-align: center;
  color: #f00;
  opacity: 0;
  transition: all 0.3s ease;
}

.user-info__picture:focus::before,
.user-info__picture:hover::before,
.user-info__picture:focus::after,
.user-info__picture:hover::after {
  opacity: 1;
}

.user-info__info-block {
  margin-bottom: calc(var(--base) * 20);
}

.user-info__username span,
.user-info__chips span {
  color: #f00;
}

.user-info__username span {
  font-size: calc(var(--base) * 26);
  font-weight: bold;
}

.user-info__message {
  display: inline-block;
  width: calc(var(--base) * 300);
  padding: calc(var(--base) * 6) calc(var(--base) * 10);
  text-align: center;
  background-color: #e75f04;
  color: #fff;
}