.lobby {
  width: 100vw;
  height: 100vh;
  background: url('../assets/background.png');
}

.lobby__wrapper {
  width: 950px;
  position: relative;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__button {
  width: 150px;
  height: 45px;
  margin: 20px;
  padding: 10px 5px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.lobby__button--log-out {
  padding-left: 40px;
  background-color: #265bec;
  background: url('../assets//arrow-left.svg'), linear-gradient(to bottom, #265bec 0%, #110268 100%);
  background-repeat: no-repeat;
  background-size: 30px auto, 100%;
  background-position: center left 15px, top left;
  border-bottom: 1px solid #110268;
}

.lobby__center-container {
  width: 100%;
  position: relative;
  top: -5%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.lobby__nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lobby__start-game {
  width: 70%;
  padding: 10px 15px;
  background-color: #fff5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lobby__label--user-name {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.lobby__input--user-name {
  width: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid #b32d04;
  margin-right: 20px;
  border-radius: 5px;
}

.lobby__button--local {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e75f04;
  background: linear-gradient(to bottom, #e75f04 0%, #b32d04 100%);
  border-bottom: 1px solid #b32d04;
}

.lobby__button--start {
  background-color: #f00c0c;
  background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
  border-bottom: 1px solid #680202;
}

.lobby__rooms {
  width: 70%;
  padding: 10px 15px;
  background-color: #fff5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lobby__rooms-title {
  font-size: 22px;
}

.lobby__title {
  font-size: 22px;
  font-weight: bold;
}

.lobby__rooms-list {
  padding: 10px 15px;
  border-radius: 5px;
}

.lobby__rooms-item {
  list-style: none;
  font-size: 24px;
  color: #fff;
}

.lobby__chat {
  width: 70%;
  padding: 10px 15px;
  background-color: #fff5;
  border-radius: 5px;
}

.lobby__input--chat-message {
  width: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid #265bec;
  margin-right: 20px;
  border-radius: 5px;
}

.lobby__button--chat-send {
  background-color: #265bec;
  background: linear-gradient(to bottom, #265bec 0%, #110268 100%);
  border-bottom: 1px solid #110268;
}