.lobby {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../assets/lobby-img-bg.png'), url('../assets/background.png');
  background-size: 350px auto,  auto;
  background-position: center 50px, top left;
  background-repeat: no-repeat, repeat;
}

.lobby__wrapper {
  width: 950px;
  height: 100%;
  margin: 0 auto;
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__button {
  width: 150px;
  height: 45px;
  margin: 20px;
  padding: 10px 5px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  border-radius: 7px;
}

.lobby__button--log-out {
  padding-left: 40px;
  background-color: #265bec;
  background: url('../assets//arrow-left.svg'), linear-gradient(to bottom, #265bec 0%, #110268 100%);
  background-repeat: no-repeat;
  background-size: 30px auto, 100%;
  background-position: center left 15px, top left;
  border-bottom: 1px solid #110268;
}

.lobby__button--log-out:focus,
.lobby__button--log-out:hover {
  transform: scale(1.1);
}

.lobby__center-container {
  width: 100%;
  position: relative;
  top: -5%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lobby__start-game {
  display: none;
  width: 70%;
  padding: 10px 15px;
  background-color: #fff5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lobby__label--user-name {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.lobby__input {
  width: 200px;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  background-color: #1b1d1b;
  border: 1px solid #737070;
  box-shadow: 0px 0px 7px #737070;
  font-size: 20px;
  transition: all 0.3s ease;
}

.lobby__input--user-name {
  width: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid #b32d04;
  margin-right: 20px;
  border-radius: 5px;
}

.lobby__button--local {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e75f04;
  background: linear-gradient(to bottom, #e75f04 0%, #b32d04 100%);
  border-bottom: 1px solid #b32d04;
  /* outline: 3px dashed rgba(255,255,255,0.8);
  outline-offset: 12px; */
}

.lobby__button--local:focus,
.lobby__button--local:hover {
  transform: scale(1.1);
}


.lobby__button--start {
  background-color: #f00c0c;
  background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
  border-bottom: 1px solid #680202;
}

.lobby__rooms {
  width: 70%;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.lobby__select-rooms {
  padding: 0px 10px;
  border: 1px solid #0dce07;;
  border-radius: 7px;
}

.lobby__rooms-title {
  font-size: 22px;
}

.lobby__rooms-title--rooms {
  padding: 0 10px;
  color: #0dce07;
}

.lobby__title {
  font-size: 22px;
  font-weight: bold;
}

.lobby__rooms-list {
  padding: 10px 15px;
  border-radius: 5px;
}

.lobby__rooms-item {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}

.lobby__rooms-item span {
  color: #0dce07;
}

.lobby__chat {
  width: 70%;
  padding: 10px 15px;
  background-color: #fff5;
  border-radius: 5px;
}

.lobby__input--chat-message {
  width: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid #265bec;
  margin-right: 20px;
  border-radius: 5px;
}

.lobby__button--chat-send {
  background-color: #265bec;
  background: linear-gradient(to bottom, #265bec 0%, #110268 100%);
  border-bottom: 1px solid #110268;
}

.user-info {
  position: absolute;
  top: 96px;
  left: 20px;
  width: 370px;
  padding: 15px;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  border: 2px solid #f00;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #f00;
  animation: user 1s;
}

@keyframes user {
  0% {
      transform: translateX(-2000px);
  }

  70% {
      transform: translateX(20px);
  }

  90% {
      transform: translateX(-10px);
  }

  100% {
      transform: translateX(0);
  }
}

.user-info__wrapper {
  width: 100%;
  display: flex;
}

.user-info__picture {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 3px solid #f00;
  border-radius: 50%;
  background-image: url('../assets/user-avatar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  cursor: pointer;
}

.user-info__picture::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.user-info__picture::after {
  content: '—Åhange avatar';
  position: absolute;
  top: 16px;
  left: 8px;
  width: 80%;
  height: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #f00;
  opacity: 0;
  transition: all 0.3s ease;
}

.user-info__picture:focus::before,
.user-info__picture:hover::before,
.user-info__picture:focus::after,
.user-info__picture:hover::after {
  opacity: 1;
}

.user-info__info-block {
  margin-bottom: 20px;
}

.user-info__username span,
.user-info__chips span {
  color: #f00;
}

.user-info__username span {
  font-size: 26px;
  font-weight: bold;
}

.user-info__message {
  display: inline-block;
  width: 300px;
  padding: 6px 10px;
  text-align: center;
  background-color: #e75f04;
  color: #fff;
}