.timer {
  text-align: center;
}

.timer__bonus-amount span {
  position: relative;
  color: #f00;
}

.timer__bonus-amount span::after {
  position: absolute;
  content: "";
  top: calc(var(--base) * -5);
  left: calc(var(--base) * 47);
  width: calc(var(--base) * 30);
  height: calc(var(--base) * 30);
  background-image: url("../../assets//chip.png");
  background-size: calc(var(--base) * 30) calc(var(--base) * 30);
  background-repeat: no-repeat;
}

.timer__button {
  min-width:calc(var(--base) * 150);
  width: calc(var(--base) * 190);
  height: calc(var(--base) * 45);
  margin: calc(var(--base) * 15);
  padding: calc(var(--base) * 10) calc(var(--base) * 5);
  font-size: calc(var(--base) * 20);
  color: #fff;
  transition: all 0.3s ease;
  border-radius: calc(var(--base) * 7);
 
  background-color: #f00c0c;
  background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
  border-bottom: 1px solid #680202;
}

.timer__button:focus,
.timer__button:hover {
  transform: scale(1.1);
}