.game {
    width: 100vw;
    height: 100vh;
    background: url('../assets/background.png');
}

.game__wrapper {
    width: 950px;
    position: relative;
    border: 1px solid red;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__center-container {
    width: 100%;
    position: relative;
    top: -5%;
    border: 1px solid green;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-exit {
    align-self: flex-start;
}