.game {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../assets/background.png');
}

.game__wrapper {
    width: calc(var(--base) * 950);
    position: relative;
    margin: 0 auto;
    height: calc(100vh - calc(var(--base) * 113));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__winner-message {
    width: calc(var(--base) * 440);
    position: absolute;
    top: calc(var(--base) * 20);
    left: 50%;
    margin-left: calc(var(--base) * -220);
    border-radius: calc(var(--base) * 5);
    background-color: #000;
    border: calc(var(--base) * 2) solid #23e711;
    animation: winner 1s;
    z-index: 1001;
}

@keyframes winner {
    0% {
        transform: translateY(calc(var(--base) * -2000));
    }

    70% {
        transform: translateY(calc(var(--base) * 30));
    }

    90% {
        transform: translateY(calc(var(--base) * -10));
    }

    100% {
        transform: translateY(0);
    }
}

.game__winner-wrapper {
    width: 100%;
    padding: calc(var(--base) * 15) calc(var(--base) * 10);
    text-align: center;
}

.game__winner-name,
.game__winner-cards,
.game__winner-combo,
.game__winner-bank {
    font-size: calc(var(--base) * 18);
    color: #fff;
}

.game__winner-name span,
.game__winner-cards span,
.game__winner-combo span,
.game__winner-bank span {
    font-size: calc(var(--base) * 26);
    font-weight: bold;
    color: #23e711;
}

.game__center-container {
    width: 100%;
    position: relative;
    top: -5%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__button {
    min-width: calc(var(--base) * 150);
    height: calc(var(--base) * 45);
    margin: calc(var(--base) * 20);
    padding: calc(var(--base) * 10) calc(var(--base) * 5);
    font-size: calc(var(--base) * 20);
    color: #fff;
    border-radius: calc(var(--base) * 5);
    transition: all 0.3s ease;
}

.game__button--exit {
    padding-left: calc(var(--base) * 16);
    background-color: #265bec;
    background: url('../assets//arrow-left.svg'), linear-gradient(to bottom, #265bec 0%, #110268 100%);
    background-repeat: no-repeat;
    background-size: calc(var(--base) * 30) auto, 100%;
    background-position: center left calc(var(--base) * 15), top left;
    border-bottom: 1px solid #110268;
    border-radius: calc(var(--base) * 7);
}

.game__button--back-to-game {
    background-color: #e75f04;
    background: linear-gradient(to bottom, #e75f04 0%, #b32d04 100%);
    border-bottom: 1px solid #b32d04;
}

.game__button--exit:focus,
.game__button--exit:hover,
.game__button--back-to-game:focus,
.game__button--back-to-game:hover {
    transform: scale(1.1);
}

.game__info-message {
    position: absolute;
    top: calc(var(--base) * 28);
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: calc(var(--base) * 280);
    padding: calc(var(--base) * 6) calc(var(--base) * 10);
    text-align: center;
    background: radial-gradient(#144508, #046415, #05360d);
    border-radius: calc(var(--base) * 7);
    color: #fff;
    font-size: calc(var(--base) * 20);
}

.game__chat-wrapper {
    position: absolute;
    top: calc(var(--base) * 28);
    right: calc(var(--base) * 20);
    width: 18%;
    max-height: calc(var(--base) * 300);
    padding: calc(var(--base) * 10);
    border: 1px solid #737070;
    border-radius: calc(var(--base) * 7);
    background-color: #1b1d1b; 
    box-shadow: 0px 0px calc(var(--base) * 7) #737070;
    overflow: hidden;
    z-index: 1000;
}

.game__chat-toggle {
    font-size: calc(var(--base) * 26);
    line-height: 150%;
    color: #f00;
    text-align: center;
    cursor: pointer;
}

.game__sound {
    padding-left: calc(var(--base) * 16);
    background-color: #265bec;
    background: linear-gradient(to bottom, #265bec 0%, #110268 100%);
    border-bottom: 1px solid #110268;
    border-radius: calc(var(--base) * 7);
}

.game__sound:focus,
.game__sound:hover {
    transform: scale(1.1);
}

.game__sound-off {
    background-color: #f00c0c;
    background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
    border-top: 1px solid #f00c0c;
    border-bottom: 1px solid #680202;
}

.game__sound-off:focus,
.game__sound-off:hover {
    transform: scale(1.1);
}

.game__room-name {
    position: absolute;
    top: calc(var(--base) * 90);
    left: calc(var(--base) * 20);
    display: flex;
    padding: 0 calc(var(--base) * 10);
    justify-content: center;
    align-items: center;
    height: calc(var(--base) * 40);
    font-size: calc(var(--base) * 22);
    /* background: radial-gradient(#144508, #046415, #05360d); */
    /* font-size: 28px; */
    /* background-color: #e75f04; */
    border-radius: calc(var(--base) * 5);
    color: red;
    font-weight: bold;
}