.create-room__wrapper{
    margin: 0 auto;
    border-radius: calc(var(--base) * 15);
    margin-bottom: calc(var(--base) * 20);
}

.create-room__label--room-name {
    display: inline-block;
    margin-bottom: calc(var(--base) * 10);
    font-size: calc(var(--base) * 22);
    font-weight: bold;
    color: #0dce07;
}

.create-room__inner-wrapper {
    display: flex;
}

.create-room__input--name {
    width: calc(var(--base) * 200);
    padding: calc(var(--base) * 8);
    margin-right: calc(var(--base) * 20);  
    font-size: calc(var(--base) * 20);
    color: #0dce07;
    outline: none;   
    transition: all 0.3s ease;
    border-radius: calc(var(--base) * 5);
    background-color: #1b1d1b;
    border: 1px solid #737070;
    box-shadow: 0px 0px calc(var(--base) * 7) #737070;
}

.create-room__input--name:focus,
.create-room__input--name:hover {
    border: calc(var(--base) * 2) solid #0dce07;
    box-shadow: 0px 0px calc(var(--base) * 7) #0dce07;
}

.create-room__button--create {
  width: calc(var(--base) * 190);
  padding: calc(var(--base) * 10) calc(var(--base) * 5);
  font-size: calc(var(--base) * 20);
  color: #fff;
  border-radius: calc(var(--base) * 5);
  transition: all 0.3s ease;
  background-color: green;
  background: linear-gradient(to bottom, #0dce07 0%, #085303 100%);
  border-bottom: 1px solid #085303;
}

.create-room__button--create:focus,
.create-room__button--create:hover {
    transform: scale(1.1);
}