.create-room__wrapper{
    width: 950px;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 20px 0;
    border: 1px solid green;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-room__input-name {
    width: 200px;
    padding: 10px;
    outline: none;
    border: 1px solid green;
    margin-right: 20px;
}

.create-room__button-create {
    width: 70px;
    background-color: green;
    color: #fff;
    padding: 5px;
}