.card_stack{
    display: flex;
}

.card_wrapper{
    width: 40px;
    height: 60px;
    position: relative;
    perspective: 1000px;
    --c-phase: 100;
    margin: 0px;  
}

.card_a{
    background-color: #f00;
    transform: rotateY(calc(180deg * var(--c-phase) / 100));
    background-image: url('../../assets/card-back.png');
    background-size: cover;
    background-position: -2px center;
    transition-duration: 1s; 
    transition-property: transform;
}

.card_b{
    background-color: #ff0;
    transform: rotateY(calc(180deg + (180deg * var(--c-phase) / 100)));
    background-image: url('../../assets/card-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -2px center;
    transition-duration: 1s; 
    transition-property: transform;
}

.hand_zero{
    width: 30px;
}

.hand_fold {
    transform: scale(0, 0);
    transition-duration: 1s;
}

.card_rotate {
    transform: rotate(12deg);
}

.card_wrapper_second{
    transform: rotateZ(15deg);
}
