.card_stack{
    display: flex;
}

.card_wrapper{
    width: 60px;
    height: 88px;
    position: relative;
    perspective: 1000px;
    --c-phase: 0;
    margin: 0px;   
    /* transform: rotateY(calc(180deg + (180deg * var(--c-phase) / 100)));    */
}

.card_a{
    background-color: #f00;
    transform: rotateY(calc(180deg * var(--c-phase) / 100));
    background-image: url('../../assets/card-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -2px center;
}

.card_b{
    background-color: #ff0;
    transform: rotateY(calc(180deg + (180deg * var(--c-phase) / 100)));
    background-image: url('../../assets/card-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -2px center;
}

.hand_zero{
    width: 30px;
}

.card_rotate {
    transform: rotate(12deg);
}

.card_wrapper_second{
    transform: rotateZ(15deg);
}
