.control-panel {
    width: 100%;
    height: 100px;
    position: relative;
    bottom: -20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-panel {
    width: 47%;
    /* height: 50px; */
    display: flex;
    justify-content: flex-end;
}

.button-player {
    width: 31%;
    padding: 10px 5px;
    font-size: 20px;
    color: #fff;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.button-player--fold,
.button-player--call,
.button-player--raise {
    background-color: rgb(219, 22, 22);
    background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
    border-bottom: 1px solid #680202;
}

.button-player--check,
.button-player--bet {
    background-color: rgb(235, 98, 6);
    background: linear-gradient(to bottom, #e75f04 0%, #b32d04 100%);
    border-bottom: 1px solid #b32d04;
}


.button-player:not(:last-child) {
    margin-right: 7px;
}

.button-player:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.range-panel {
    width: 47%;
    /* height: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.range-panel__pot-buttons {
    width: 88%;
    display: flex;
    align-self: flex-end;
}

.range-panel__button {
    width: 25%;
    padding: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #680202;
    border-radius: 3px;
    background-color: rgb(219, 22, 22);
    background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
    border-bottom: 1px solid #680202;
}

.range-panel__wrapper {
    /* border: 1px solid yellow; */
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b1d1b;
    border: 1px solid #090a09;
}

.range-panel__range-value {
    display: inline-block;
    width: 20%;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background-color: #1b1d1b;
    border: 1px solid #737070;
    box-shadow: 0px 0px 3px #737070;
}

.range-panel__range-button {
    width: 7%;
    padding: 3px 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: rgb(219, 22, 22);
    background: linear-gradient(to bottom, #f00c0c 0%, #680202 100%);
    border-bottom: 1px solid #680202;
    border-radius: 5px;
}

.range-panel__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.range-panel__slider {
    width: 100%;
    height: 5px;
    position: relative;
    border-radius: 5px;
    background: rgb(206, 205, 205);
}

.range-panel__progress {
    height: 5px;
    position: absolute;
    border-radius: 5px;
    background: #f00c0c;
}

.range-panel__range-container {
    width: 100%;
    position: relative;
    /* left: -50%; */
}

.range-panel__input-range {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 5px;    
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.range-panel__input-range::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #f00c0c;
    cursor: pointer;
}

.range-panel__input-range::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #f00c0c;
    cursor: pointer;
}