.bank-coin {
    flex-shrink: 0;
    position: absolute;
    width: calc(var(--base) * 50);
    height: calc(var(--base) * 50);
    /* background-color: #F00; */
    border: 6px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: scaleY(0.6);
    /* box-shadow: #f00 0px 10px 0px, #000 0px 10px 0px, #000 0px 10px 7px; */
    transition-duration: 400ms;
}

.bank-coin_init{
    transform: scale(0, 0);
}

.bank-coin__inner {
    background: #fff;
    width: calc(var(--base) * 30);
    height: calc(var(--base) * 31);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: calc(var(--base) * 19);
    font-weight: bolder;
}