.card_wrapper--main-player{
    width: 65px;
    height: 94px;
    position: relative;
    perspective: 1000px;
    --c-phase: 0;
    margin: 0px;   
}

.hand_zero--main-player {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-player-card {
    border: 2px solid #f00;
    transform: scale(1.3);
}

