.card_wrapper--main-player{
    width: calc(var(--base) * 65);
    height: calc(var(--base) * 94);
    position: relative;
    perspective: calc(var(--base) * 1000);
    --c-phase: 0;
    margin: 0px;   
}

.hand_zero--main-player {
    width: calc(var(--base) * 75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-player-card {
    border: calc(var(--base) * 3) solid #f00;
    box-shadow: 0px 0px calc(var(--base) * 10) #f00;
    transform: scale(1.3);
}

